@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden !important;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    fill: #FFF;
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }

    *::-webkit-scrollbar {
        @apply w-3 h-3;
    }

    *::-webkit-scrollbar-track {
        @apply bg-black;
    }

    *::-webkit-scrollbar-thumb {
        @apply bg-[#0d9488] rounded-lg;
    }
}

.custom-list ul {
    padding-left: 10px;
}
